<!-- <h1>view app component</h1>
<h1>{{title}}</h1>
<h1>{{age}}</h1>
<h1>{{name}}</h1> -->
<!-- <app-font-size-editor></app-font-size-editor> -->
<!-- AppComponent
    HeaderComponent
    sideBarComponent
    FooterComponent

   -->
   <!-- <app-b-property></app-b-property> -->
<!-- <app-attribute-class-style></app-attribute-class-style> -->
<!-- <app-event></app-event> -->
<!-- <app-two-way></app-two-way> -->
<!-- <app-f-pipe></app-f-pipe>
 -->
 <!-- <app-template-variable></app-template-variable> -->
<!-- <app-ng-if></app-ng-if> -->
<!-- <app-ng-for></app-ng-for> -->
<!-- <app-ng-switch></app-ng-switch> -->
<!-- <app-ng-class></app-ng-class> -->
<!-- <app-ng-style></app-ng-style> -->


<!-- <app-n-input [item]="'hello'"></app-n-input> -->
<!-- <app-o-output (answerRequest)="appComponentAnswer($event)"></app-o-output> -->
<!-- <app-game-numbers></app-game-numbers> -->

<!-- <app-name-card cardName="Professional Dev" email="prodev@codegym.vn" phone="0123456789"></app-name-card> -->
<!-- <app-progress-bar progress="0" ></app-progress-bar>
<app-rating-bar></app-rating-bar>
<br>
<app-countdown-timer class="btn btn-info"></app-countdown-timer> -->
<!-- <app-u-template-driven></app-u-template-driven> -->
<!-- <app-v-data-driven></app-v-data-driven> -->
<app-todo></app-todo>
